<app-modal
  [isOpen]="isOpen()"
  (close)="onClose()"
>
  <span modalTitle>{{ (character()?.name || '') | truncate:30 }}</span>
  
  @if (character()) {
    <div class="character-detail">
      <div class="character-detail__image">
        <img [src]="character()!.image" [alt]="character()!.name" />
      </div>
      <div class="character-detail__info">
        <div class="character-detail__row">
          <span class="character-detail__label">Status:</span>
          <span class="character-detail__value">{{ character()!.status }}</span>
        </div>
        <div class="character-detail__row">
          <span class="character-detail__label">Espécie:</span>
          <span class="character-detail__value">{{ character()!.species }}</span>
        </div>
        <div class="character-detail__row">
          <span class="character-detail__label">Gênero:</span>
          <span class="character-detail__value">{{ character()!.gender }}</span>
        </div>
        <div class="character-detail__row">
          <span class="character-detail__label">Origem:</span>
          <span class="character-detail__value">{{ character()!.origin.name | truncate:40:true }}</span>
        </div>
        <div class="character-detail__row">
          <span class="character-detail__label">Localização:</span>
          <span class="character-detail__value">{{ character()!.location.name | truncate:40:true }}</span>
        </div>
      </div>
    </div>
  }

  <div modalFooter>
    <button class="btn btn-primary" (click)="onClose()">
      Fechar
    </button>
  </div>
</app-modal>
