<article class="character-card">
  
  <div class="character-card__image-wrapper" (click)="onViewDetails()">
    <img 
      [appLazyImage]="character().image"
      [alt]="character().name"
      class="character-card__image"
    />
  </div>

  <div class="character-card__content">
    <h3 class="character-card__name">{{ character().name }}</h3>

    <div class="character-card__actions">
      <button class="character-card__btn character-card__btn--primary" (click)="onViewDetails()">
        Ver Detalhes
      </button>
      @if (!showRemoveButton()) {
        <button class="character-card__btn character-card__btn--secondary" (click)="onAddToList()">
          <span class="character-card__icon">➕</span>
        </button>
      } @else {
        <button class="character-card__btn character-card__btn--danger" (click)="onRemoveFromList()">
          <span class="character-card__icon">🗑️</span>
        </button>
      }
    </div>
  </div>

</article>
